*.swp
config/chromium
config/pulse
config/remmina
config/sqlitebrowser
config/gtk-2.0
config/dconf
config/autostart
config/Atom
config/Franz
config/WordPress.com
config/QtProject.conf
config/icedtea-web
config/VirtualBox
config/monitors.xml*
config/gconf
config/ibus
config/menus
local/share
local/bin
local/lib
vim/.netrwhist
atom/storage
atom/blob-store
atom/compile-cache
atom/dev
atom/packages
atom/.npm
atom/.node-gyp
atom/.apm
atom/nohup.out
atom/atom-shell
