*.swp
atom/.apm
atom/.node-gyp
atom/.npm
atom/atom-shell
atom/blob-store
atom/compile-cache
atom/dev
atom/nohup.out
atom/packages
atom/storage
config/Atom
config/Franz
config/Postman
config/QtProject.conf
config/VirtualBox
config/WordPress.com
config/autostart
config/chromium
config/dconf
config/freerdp
config/gconf
config/gtk-2.0
config/ibus
config/icedtea-web
config/menus
config/monitors.xml*
config/pulse
config/remmina
config/sqlitebrowser
local/bin
local/lib
local/share
vim/.netrwhist
